.feature-card {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-top: 1.25rem; 
    max-width: 100%;
    width: 320px; 
    background-color: #2d3748;
    border-left: 2px solid rgba(0, 188, 212, 0.9);
    border-right: 2px solid rgba(0, 188, 212, 0.9);
    max-height: auto;
    transform: rotate(30deg); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.feature-card__title {
    font-size: 1.5rem; 
    letter-spacing: -0.025em; 
    line-height: 2rem; 
    color: rgba(0, 188, 212, 0.9);
    padding: 0 2px;
    text-align: center; 
}

.feature-card__description {
    margin-top: 0.625rem;
    font-size: 1rem; 
    letter-spacing: -0.025em;
    line-height: 1.25rem; 
    text-align: center; 
    color: #fff; 
    padding: 0 10px; 
}