
.newsletter-subscription {
    margin-top: 20px;
    max-width: 100%;
    width: 900px;
    max-width: 900px;
    margin-top: 20px;
    max-width: 100%;
}

.newsletter-subscription__title {
    font-size: 1.575rem;
    line-height: 1.6;
    color: #ff9900;
    max-width: 100%;
}

.newsletter-subscription__form {
    display: flex;
    gap: 0.9375rem;
    margin-top: 0.5rem;
    max-width: 100%;
}

.newsletter-subscription__input {
    flex-grow: 1;
    padding: 1.125rem 1.375rem 1rem;
    border-radius: 0.75rem;
    border: 2px solid #09F7E8;
    background-color: #1e293b;
    color: #cbd5e1;
    width: fit-content;
    height: 15px;
    max-width: 68%;
}

.newsletter-subscription__button {
    align-self: flex-start;
    padding: 0.6rem 1rem;
    background-color: #ff9900;
    border-radius: 1rem;
    color: #1c1a1a;
    max-width: 100%;
    font-size: 22px;
    font-weight: 600;
    border: none;
    outline: none;
}

@media screen and (max-width: 372px) {
    .newsletter-subscription__button {
        font-size: 12px;
    }
}

